* {
    font-family: roboto, sans-serif;
}

body{
    margin: 4rem;
}

h1 {
    text-align: center;
}

.search-bar{
    display: block;
    margin: 2rem 0 2rem 0;
    position: absolute;
    left: 37%;
    width: 30rem;
    height: 3rem;
    border: 2px solid #00abf0;
    border-radius: 0.75rem; 
    padding-left: 2rem;
}

.search-btn {
    position: absolute;
    left: 47%;
    margin-top: 5rem;
    top: 10rem;
    width: 6rem;
    height: 3rem;
    border-radius: 0.75rem;
    background-color: white;
    color: #00abf0;
    border: 2px solid #00abf0;
}

.search-btn:hover {
    background-color: #00abf0;
    color: white;
    transition: 250ms ease-in;
}

.upper-div {
    width: 100%;
    height: 15rem;
    color: #4361ee;
}